
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Caprasimo&family=Cherry+Bomb+One&family=Crete+Round&family=Fjalla+One&family=Libre+Baskerville&family=Noto+Serif+Makasar&family=Playfair+Display:wght@500&family=Quicksand:wght@400;500;600;700&family=Sacramento&family=Source+Sans+3:wght@300&family=Special+Elite&family=Staatliches&display=swap');

:root {
   
 
    
    /* primary background color */
    --primary-bg-color: cyan;

    /* secondary background color */
    --secondary-bg-color: limegreen;

    /* primary text color */
    --primary-text-color: purple;

    /* secondary text color */
    --secondary-text-color: hotpink;

    /* heading font family (for h1, h2, etc) */
    --heading-font-family: "Quicksand";

    /* primary font family (for <p> and other inline text) */
   --primary-font-family: "Quicksand";

   /* indicating error messages and similar situations */
   --alert-color: red;

   --modal-styling: {
       
   }
   
}

button {
    cursor: pointer;
}
